body {
    font-family: 'PT Sans', sans-serif;
}

/* START HEADER STYLES */



header {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 16px;
    background-color: #1D3557;
    color: white;
}

.logo-top {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.logo-bottom {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

header > a {
    color: white;
}

header a:visited {
    color: white;
}

header a:hover {
    color: white;
}

header a:active {
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.nav-right > ul {
    display: flex;
}

.nav-right > ul > li {
    margin: 0 8px;
}

.search {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.search > form {
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 4px 4px 4px 4px;
    justify-content: space-between;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    background-color: #E63946;
}

.search-btn:hover {
    background-color: #E84E5A;
    transition: 0.5s;
    cursor: pointer;
}

.search > i {
    color: black;
}

.top-search {
    display: flex;
    /* width: 100%; */
    border-radius: 4px 4px 4px 4px;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    align-items: center;
    flex-grow: 1;
    background-color: white;
}

.catagories {
    display: flex;
    font-size: 14px;
    padding: 2px;
}

.catagories-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    gap: 16px;
    -ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.catagories-list::-webkit-scrollbar {
    display: none;
  }

.location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #457B9D;
    height: 32px;
    padding: 12px;
}

.location-btn {
    border: none;
    outline: none;
    background-color: #457B9D;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    color: white;
    font-size: 12px;
}

.location-btn:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-skip: objects;
}

#location-icon:hover {
    color: white;
    text-decoration: none;
}

/* END HEADER STYLES */

@media (min-width: 640px) {
    .logo-top {
        font-size: 64px;
    }
}